:root {
    --dark-color: #000000;
    --text-color: #FCFCFC;
    --content-background: #0a0a0a;
    --header-background: rgba(100, 100, 100, 0.1);
    --darker-shadow: #0d0d0d;
    --link-default-color: #E6E6E6;
    --link-underlined-color: #F85F6A;
    --lighter-shadow: #2f2f2f;
    --header-color: #efefef;
}

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #888;
}

*::-webkit-scrollbar-thumb:hover {
    background: #555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.5s cubic-bezier(.19, 1, .22, 1);
    scrollbar-width: thin;
    scrollbar-color: #888 transparent;
}

a {
    text-decoration: none;
    color: var(--link-default-color);
}

body {
    display: flex;
    flex-direction: column;
    user-select: none;
    min-height: 100vh;
    overflow-x: hidden; /* Prevents horizontal scrolling */
}
body.dark-theme {
    font-family: 'Gotham', sans-serif;
    background-color: var(--dark-color);
    color: var(--text-color);
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    position: sticky;
    top: 0;
    width: 100%;
    background: var(--header-background);
    backdrop-filter: blur(10px);
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    z-index: 100;
}

.logo {
    height: 30px;
    color: var(--header-color);
}


.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: var(--content-background);
    border-radius: 20px;
}

.about_intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

}

h1 {
    font-size: 2.5em;
    color: var(--header-color);
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    background: var(--content-background);
    border-radius: 20px;
    /* padding: 20px; */
}

.footer {
    margin-top: auto;
    flex-shrink: 0;
    background: none;
    padding: px;
    border-radius: 20px;
    text-align: center;
}

.footer p {
    margin: 0;
    padding: 10px;
    font-size: 1.2em;
    background-color: transparent;
    color: var(--header-color);
}


a {
    color: var(--text-color);
    font-weight: 500;
    text-decoration: none;
    position: relative;
    padding-bottom: 7px;
    padding-top: 7px;
}


a:after {
    content: '';
    position: absolute;
    bottom: 2px;
    left: 0;
    width: 100%;
    border-radius: 10px;
    height: 2px;
    background: var(--link-underlined-color);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1);
    transition: transform .6s cubic-bezier(.19, 1, .22, 1), -webkit-transform .6s cubic-bezier(.19, 1, .22, 1);
}

a:after {
    background: var(--text-color);
}

a:hover:after {
    -webkit-transition-duration: .4s;
    transition-duration: .4s;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transform-origin: left center;
    transform-origin: left center;
}